//
// Colors
//-------------------------------------------------------
$color__brand:                      #0079b8;
$color__text-base:                  #121212;

$color__gray-lighter:               #dfdfdf;
$color__gray-lightest:              #f2f2f2;
